#containerSmall {
  background-color: #bbd5f3;
  height: 900px;
  margin-left: 0px;
  position: relative !important;
}

#containerBig {
  background-color: #ffffff;
  height: 900px;
  margin-right: 0px;
  position: relative !important;
}

#imgLogoId,
.logoBigContainer {
  margin-left: 10px;
  margin-top: 50px;
}

.message {
  color: #000000;
  text-align: center;
  margin-top: 250px;
  font-weight: 700 !important;
}
.messageBigContainer {
  color: #000000;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
  font-weight: 700 !important;
}
#bigContainerMessage {
  font-weight: 500 !important;
  color: #000000;
}
#buttonSignIn {
  background-color: #4682b4;
  color: #ffffff;
  margin-top: 10px;
  border-radius: 8px;
}

@media screen and (max-width: 980px) {
  #containerSmall {
    display: none !important;
  }
  #containerBig {
    width: 100%;
  }
}

/* @media screen and (max-width: 980px) {
  .brand-logo {
    width: 100%;
    margin-left: 40px;
  }
  #nav-mobile {
    float: right;
  }
}

@media screen and (max-width: 768px) {
  .brand-logo {
    width: 100%;
    margin-left: 40px;
  }
  #nav-mobile {
    float: right;
  }
}

@media screen and (max-width: 640) {
  .brand-logo {
    width: 100%;
    margin-left: 40px;
  }
  #nav-mobile {
    float: right; 
  }
}*/
