footer.page-footer {
  margin: 0;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  z-index: 1000;
}
#logo-container,
li {
  color: #bbd5f3;
}
.footerContainer {
  background-color: #075496;
}
.containerCopyRight {
  background-color: #36648b;
}
