.circle {
  opacity: 1;
  margin-top: 10px;
  /* margin-left: 30px; */
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 1px solid #fff;
}
#navbar,
#btnSignout {
  color: #ffffff;
  background-color: #075496;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

#sideNavMenu {
  font-family: "Material Icons";
  content: "\E5D2";
  /* font-family: "Roboto", sans-serif;
  font-weight: 500; */
}

#navWrapperContainer {
  width: 90%;
}

.brand-logo {
  font-family: "Charm", cursive;
  font-weight: 700;
}

#download-button,
.button {
  background-color: #075496;
}

.sidenav {
  width: 100%;
  height: auto;
  margin-top: 65px;
  font-family: "Material Icons", "Roboto", sans-serif;
  content: "\e5d2";
  text-align: center;
  font-weight: 700;
}

@media screen and (min-width: 980px) {
  .sidenav {
    display: none !important;
  }
  /* #containerBig {
    width: 100%;
  } */
}
