/* .visionContainer,
/* #vision, */
/* #visionRow,
#visionSection {
  background-color: #6da4d1;
  padding: 20px;
  height: 250px; 
} */
#visionSection {
  background-color: #6da4d1;
  margin: 50px 50px 505px 50px;
  padding: 30px;
  /* height: 250px; */
}

#vision {
  /* width: 90%; */
  /* margin-left: 5%;
  margin-right: 5%; */
  height: 400px;
  padding: 5%;
}
#visionImg {
  height: 400px;
  background-image: url("../../Image/vacChat1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
